button {
    cursor: pointer;
}

p {
    margin: 0;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header__item {
    & + & {
        margin-left: 24px;
    }
}

.header__items-count {
    margin-left: 4px;
    padding: 4px 8px;
    background-color: red;
    border-radius: 50%;
    color: white;
}

.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 60%;
    float: left;
}

.basket {
    width: 35%;
    padding-left: 40px;
    float: right;
}

.basket--inline {
    width: 100%;
    padding: 0;
    float: none;
    display: flex;
    flex-flow: row wrap;

    .basket__product {
        margin-left: 80px;
    }
}

.basket__total-price {
    flex: 0 0 100%;
}

.basket__free-shipping {
    flex: 0 0 100%;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid blue;
    border-right: none;
    border-radius: 50%;
    animation: rotation 0.5s infinite linear;
}

.order-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 100px;

    .basket--inline & {
        flex: 0 0 100%;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
